@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    background-color: #ffd5ab;
}

.Home {
    text-align: center;
}

.logo {
    font-family:'Raleway', sans-serif;
}

.navbar {
    background-color:#fff2e5;
}